body{
    overflow-x: hidden;
}

.text{
    position: relative;
    top: 200px;
    right: 140px;
    z-index: 3;
}
.image{
    position: relative;
    left: 90px;
    top: 80px;
    width: 300px; 
    height: 300px; 
    border-radius: 100%;
    z-index: 2;
}
.image4{
    width: 70px;
}
.bg-dark,
.bg-transparent {
  transition: all 0.3s;
}
.bgback{
    position: relative;
    top: -300px;
    z-index: 1;
    width: 500px;
}
.bgback1, .bgback2{
    visibility: hidden;
}
@media screen and (max-width:1442px){
    .image{
    width: 200px; 
    height: 200px; 
    position: relative;
    top: -65px;
    left: 0px;
    }
    .text{
        position: relative;
        top: 250px;
        right: 0px;
    }
    .bgback{
    display: none;
    }
}
@media screen and (max-width:1401px){
    .bgback1, .bgback2{
    visibility: visible;
    padding: 73px;
    position: relative;
    top: -280px;
    width: 300px;
    }
}
@media screen and (max-width:976px){
    .image{
    width: 200px; 
    height: 200px; 
    position: relative;
    top: -80px;
    }
}
@media screen and (max-width:953px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -50px;
    }
    .bgback1, .bgback2{
        padding: 68px;
        position: relative;
        top: -245px;
        width: 280px;
        }
}
@media screen and (max-width:885px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -50px;
    left: 0px;
    }
    .text{
        position: relative;
        color: black;
        top: 250px;
        left: 0px;
    }
}

@media screen and (max-width:837px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -80px;
    left: 0px;
    }
    .text{
        position: relative;
        color: black;
        top: 270px;
        left: 0px;
    }
    .bgback1, .bgback2{
        padding: 70px;
        position: relative;
        top: -270px;
        width: 260px;
        }
}
@media screen and (max-width:629px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -120px;
    left: 0px;
    }
    .bgback1, .bgback2{
        padding: 70px;
        position: relative;
        top: -300px;
        width: 260px;
        }
}
@media screen and (max-width:525px){
    .bgback1, .bgback2{
        padding: 75px;
        position: relative;
        top: -340px;
        width: 240px;
        height: 300px;
        }
        .image4{
            width: 60px;
        }
}
@media screen and (max-width:485px){
    .bgback1, .bgback2{
        padding: 75px;
        position: relative;
        top: -330px;
        width: 220px;
        height: 300px;
        }
}
@media screen and (max-width:445px){
    .bgback1, .bgback2{
        padding: 75px;
        position: relative;
        top: -330px;
        width: 220px;
        height: 300px;
        }
        .bgback1, .bgback2{
            padding: 80px;
            position: relative;
            top: -330px;
            width: 210px;
            height: 290px;
            }
}
@media screen and (max-width:429px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -120px;
    left: 0px;
    }
    .text{
        position: relative;
        color: black;
        top: 270px;
        left: 0px;
    }
    .image4{
        width: 50px;
    }
    
}
@media screen and (max-width:426px){
    .bgback1, .bgback2{
        padding: 79px;
        position: relative;
        top: -330px;
        width: 200px;
        height: 290px;
        }
    
}
@media screen and (max-width:422px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -135px;
    left: 0px;
    }
    .text{
        position: relative;
        color: black;
        top: 270px;
        left: 0px;
    }
    .bgback1, .bgback2{
        padding: 79px;
        position: relative;
        top: -370px;
        width: 200px;
        height: 290px;
        }
}
@media screen and (max-width:415px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -175px;
    left: 0px;
    }
    .bgback1, .bgback2{
        padding: 81px;
        position: relative;
        top: -373px;
        width: 200px;
        height: 290px;
        }
}
@media screen and (max-width:405px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -170px;
    left: 0px;
    }
    .bgback1, .bgback2{
        display: none;
        }
}
@media screen and (max-width:400px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -170px;
    left: 0px;
    }

    .bgback{
        display: block;
        width: 250px;
        position: relative;
        top: -400px;
        left: 80px;
        z-index: 1;
    }
}
@media screen and (max-width:391px){
    .image{
    width: 180px; 
    height: 180px; 
    position: relative;
    top: -180px;
    left: 0px;
    }
    .text{
        position: relative;
        color: black;
        top: 270px;
        left: 0px;
    }
}